@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


.scrollbar-hide {
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para IE y Edge */
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.topbar {
  background: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
}


.topbar-container {
  max-width: 1400px;
  margin: auto;
  padding: 0 12px;

  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: nowrap;        
  overflow: hidden;         
}


.topbar-logo img {
  height: 32px;
  display: block;
}


.topbar-info {
  display: none;
}


.topbar-actions {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}


.search-btn,
.mobile-phone {
  background: none;
  border: none;
  font-size: 20px;
  color: #2563eb;
  cursor: pointer;
  text-decoration: none;
}


@media (min-width: 768px) {
  .topbar-container {
    height: 60px;
    padding: 0 20px;
  }

  .topbar-logo img {
    height: 36px;
  }
}


@media (min-width: 1024px) {

  .topbar-container {
    height: 64px;
  }

 
  .topbar-info {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    color: #333;
    white-space: nowrap; 
  }

  .info-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .info-item i {
    color: #2563eb;
  }

  
  .mobile-phone {
    display: none;
  }
}


@media (min-width: 1280px) {
  .topbar-info {
    gap: 32px;
    font-size: 15px;
  }
}


