@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: 'Inter', sans-serif;
}


.scrollbar-hide {
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para IE y Edge */
  }
  
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.topbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  height: 40px;
  object-fit: contain;
}

.contact-info {
  display: flex;
  gap: 32px;
  font-size: 14px;
  color: #374151;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-item i {
  color: #2563eb;
}

/* ACCIONES */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #374151;
}

.search-btn:hover {
  color: #2563eb;
}

/* MOBILE */
.mobile-call {
  display: none;
  font-size: 20px;
  color: #2563eb;
  text-decoration: none;
}


@media (max-width: 1024px) {

  /* Oculta info larga */
  .topbar-info {
    display: none;
  }

  /* Muestra el telefono */
  .mobile-phone {
    display: block;
  }
}

@media (max-width: 480px) {

  .topbar-container {
    height: 56px;
  }

  .topbar-logo img {
    height: 34px;
  }

  .search-btn {
    font-size: 16px;
  }

  .mobile-phone {
    font-size: 18px;
  }
}
